@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    /* Color Variables */
    --primary-color: #FF9600;
    --secondary-color: #2584FF;     /* Refer to Figma for transparency/alpha values */
    --accent-color-db: #005FD9;
    --accent-color-dg: #58CC02;
    --accent-color-g: #89E219;
    --accent-color-y: #FFC800;
    --background-color: #FFF;
    --neutral-color: #4B4B4B;       /* Refer to Figma for transparency/alpha values */

    /* Font Variables */
    --primary-font: 'Nunito', sans-serif;
    --secondary-font: 'Asap Condensed', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;

    /* Original Background Below */
    /* background-image: radial-gradient( white,#9cdef2); */
}

body {
    margin: 0;

    /* Original Background */
    /* background-color: transparent !important; */
}

.App{
}




/* Fixes weird alignment for inline FA icons */
.svg-inline--fa {
    vertical-align: 0em;
}