.App{
}

html {
    height: 100%;
    background-image: radial-gradient( white,#9cdef2);
}

body {
    margin: 0;
    background-color: transparent !important;
}

/* Fixes weird alignment for inline FA icons */
.svg-inline--fa {
    vertical-align: 0em;
}