/* Transition Group CSS */

.fade-enter {
    opacity: 0.01;
    transform: scale(1.1);
}

.fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 300ms;
}

.fade-exit {
    opacity: 1;
    transform: scale(1);
}

.fade-exit-active {
    opacity: 0.01;
    transform: scale(1.1);
    transition: all 0ms;
}

/* End of Transition Group CSS */

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.75rem;
}

#heading-text {
    color: var(--primary-color);
}